---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE_EN, SITE_TITLE_RU } from "../consts";
import LangLink from "./LangLink.astro";
import { useTranslations } from "../i18n/utils";

const { lang } = Astro.props;

const homeSlug = `/${lang}`;
const blogSlug = `/${lang}/blog`;
const aboutSlug = `/${lang}/about`;
const TITLE = lang === "ru" ? SITE_TITLE_RU : SITE_TITLE_EN;
const t = useTranslations(lang);
---

<header>
  <nav class="h-full">
    <a class="logo flex items-center w-16 sm:w-56" href="/">
      <i
        class="transition duration-300 ease-in-out fa-brands fa-gg-circle fa-2xl text-gray-light"
      ></i>
      <span
        class="transition duration-300 ease-in-out text-gray-light ml-3 hidden sm:block"
        >{TITLE}</span
      ></a
    >
    <div class="h-full">
      <HeaderLink href={homeSlug}>{t("nav.home")}</HeaderLink>
      <HeaderLink href={blogSlug}>{t("nav.blog")}</HeaderLink>
      <HeaderLink href={aboutSlug}>{t("nav.about")}</HeaderLink>
    </div>
    <div class="flex justify-end w-16 sm:w-56">
      <LangLink language="ru" isActive={lang == "ru"} />
      <LangLink language="en" isActive={lang == "en"} />
    </div>
  </nav>
</header>
<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  .logo:hover span {
    @apply text-primary;
  }
  .logo:hover svg {
    @apply text-primary;
  }
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    @apply border-t-4 no-underline text-dark px-4 py-5 border-white h-full;
  }
  nav a.active {
    @apply border-t-danger decoration-0;
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
  @media (max-width: 640px) {
    header {
      padding: 0 0.5em;
    }
    nav a {
      @apply px-2 py-3;
    }
  }
  @media (max-width: 360px) {
    .logo svg {
      @apply invisible hidden w-0 p-0 m-0;
    }
    .logo {
      @apply w-0 p-0 m-0;
    }
    nav .logo {
      @apply w-0 p-0 m-0;
    }
  }
</style>
