---
import { getBlogPosts } from "../../../content/config";
import FormattedDate from "../../../components/FormattedDate.astro";
import Layout from "../../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { useTranslations } from "../../../i18n/utils";

const { lang } = Astro.params;

const t = useTranslations();

const posts = (await getBlogPosts())
  ?.filter((blog) => {
    return blog?.data?.lang === lang;
  })
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());

export async function getStaticPaths() {
  return ["en", "ru"].map((lang) => {
    return { params: { lang } };
  });
}
---

<Layout title={`${t("site.title")} | ${t("nav.blog")}`} description={t("nav.blog")} lang={lang}>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/${lang}/blog/${post.blog_slug}`}>
              <Image
                width={720}
                height={360}
                src={post.data.heroImage || ""}
                alt={post.data.title}
                loading="eager"
                itemprop="image"
              />
              <h4 class="title">{post.data.title}</h4>
              <p class="date">
                <FormattedDate date={post.data.pubDate} lang={post.data.lang} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  main {
    width: 960px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    width: calc(50% - 1rem);
  }
  ul li * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  ul li:first-child {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }
  ul li:first-child img {
    width: 100%;
  }
  ul li:first-child .title {
    font-size: 2.369rem;
  }
  ul li img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
  }
  ul li a {
    @apply block;
  }
  .title {
    @apply text-dark m-0 leading-none;
  }
  .date {
    margin: 0;
    color: rgb(var(--gray));
  }
  ul li a:hover h4,
  ul li a:hover .date {
     @apply text-gray-light ease-out;
  }
  ul a:hover img {
    @apply drop-shadow-2xl text-gray-light ease-out; 
  }
  @media (max-width: 720px) {
    ul {
      gap: 0.5em;
    }
    ul li {
      width: 100%;
      text-align: center;
    }
    ul li:first-child {
      margin-bottom: 0;
    }
    ul li:first-child .title {
      font-size: 1.563em;
    }
  }
</style>
